<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458481455642-ccmu6f5ejh2m07fdscna2qbseq3rspq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458481455642-ccmu6f5ejh2m07fdscna2qbseq3rspq9</string>
	<key>API_KEY</key>
	<string>AIzaSyBENQQjiWeHSoLDCmMtB_3DbNcLUfOTGvo</string>
	<key>GCM_SENDER_ID</key>
	<string>458481455642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatty.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-7f103</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-7f103.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458481455642:ios:7c6ac0c0bb4f67ec6577a3</string>
</dict>
</plist>